<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src = "angular.js"></script>
</head>
<body ng-app="myApp">
<div ng-controller = 'appController'>
<input ng-model="fruit"/>
<button ng-click="juice('mango')">Default</button>
<button ng-click="juice(fruit)">Custom</button>
<p>this is {{item}} juice</p>
</div>
</body>
<script>
var myApp = angular.module("myApp",[])
myApp.controller("appController",function($scope){
	
	
	$scope.juice = function(fruit)
	{
		$scope.item = fruit;
	};
})

</script>
</html>